@font-face {
  font-family: "helvetica-neue";
  src: url("../assets/fonts/helvetica-neue/helvetica-neue-bold.woff2")
      format("woff2"),
    url("../assets/fonts/helvetica-neue/helvetica-neue-bold.woff")
      format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "helvetica-neue";
  src: url("../assets/fonts/helvetica-neue/helvetica-neue-light.woff2")
      format("woff2"),
    url("../assets/fonts/helvetica-neue/helvetica-neue-light.woff")
      format("woff");
  font-style: normal;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: 300;
  font-style: $font-body-style;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 700;
}

h2 {
  font-size: 3.6rem;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

.button {
  font-weight: $font-body-bold-weight;
}

.badge {
  font-size: 1.35rem;
  font-weight: $font-body-bold-weight;
  line-height: 0;
}

a:focus {
  color: inherit;
}
